<%
  tag ||= 'div'
  gravatar_url = "http://gravatar.com/avatar/#{CGI.escape(Digest::MD5.hexdigest(user.email.downcase))}?s=48&d=mm"
%>
<%= content_tag tag, class: 'user', style: "background-image:url('#{gravatar_url}')" do %>
  <%= link_to_if can?(:show, user), user.display_name, user %>
  <% if user.description.present? %>
    <p><%= truncate(user.description, length: 50, separator: ' ') %></p>
  <% end %>
<% end %>