<%= content_tag (tag ||= 'div'), class: 'user', style: "background-image:url('#{user.avatar}')" do %>
  <%= link_to_if can?(:show, user), user.display_name, user %>
  <% if user.description.present? %>
    <p><%= truncate(user.description, length: 50, separator: ' ') %></p>
  <% end %>
<% end %>