<% if thing.errors.any? %>
  <div id="errors">
    <h2><%= pluralize(thing.errors.count, 'Problem') %></h2>
    <ul>
      <% thing.errors.full_messages.uniq.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>