<h1>Listing trees</h1>

<div>
	
	<%= form_tag trees_path, method: :get do %>
	  <b>Search </b> <%= text_field_tag :q, @q, placeholder: 'species or address' %>
	  <%= submit 'Search' %>
	<% end %>
</div>

<%= render 'list' %>
