<ol class="unordered">
  <% events.each do |event| %>
    <% coords = event.coords(current_user) %>
    <li<%= " data-lat=\"#{coords[0]}\" data-lng=\"#{coords[1]}\"".html_safe if coords %>>
      <%= link_to event.display_name(current_user), event %>
      <% if event.start.present? %>
        <small><%= relative_time event %></small>
      <% end %>
    </li>
  <% end %>
</ol>