<ol class="events">
  <% events.each do |event| %>
    <li>
      <%= link_to event.display_name, event %>
      <% if event.start.present? %>
        <small><%= 'in ' if !event.past? %><%= time_ago_in_words(event.start) %><%= ' ago' if event.past? %></small>
      <% end %>
    </li>
  <% end %>
</ol>