<% if can?(:invite, event) && event.invitable? %>

  <%= form_for event, url: invite_event_path(event), method: :patch, html: {id: 'invite'} do |f| %>
    <label>
      Invite <%= number_field_tag 'number', event.suggested_invitations, min: 1, max: Event.max_invitable %> <%= Configurable.participant.pluralize %>
    </label>
    <%= submit 'Invite' %>
  <% end %>

<% end %>