<%
 eu = @event.event_users.find_or_initialize_by(user_id: current_user.id)

  # determine what string to use to describe the existing rsvp
  attend_str = nil
  is_the_coordinator = current_user == @event.coordinator
  if can?(:attend, @event) || current_user.has_role?(:coordinator) || eu.status
    attend_str = 'You '
    if @event.past?
      attend_str += (eu.attending? || eu.attended? || is_the_coordinator) ? 'attended' : 'did not attend'
    elsif eu.waitlisted?
      attend_str += 'are on the waitlist for'
    elsif eu.requested?
      attend_str += 'have requested to attend'
    elsif eu.attending? || is_the_coordinator
      attend_str += 'are attending'
    elsif eu.invited?
      attend_str += 'have been invited to attend'
    else
      attend_str += 'are not attending'
    end
    attend_str += " this #{Configurable.event}."
  end

  # determine what buttons to show to change rsvp
  buttons = {}
  if @event.participatable_by? current_user
    if [nil, 'not_attending', 'withdrawn', 'cancelled', 'invited'].include? eu.status
      # todo: this does not handle events where a participant must first request to join if they haven't been invited, which would change the 'attend' text for statuses that are not :invited
      buttons[:attend] = @event.full? ? 'Add To Waitlist' : 'Attend'
      buttons[:unattend] = 'Will Not Attend' if eu.invited?
    elsif eu.waitlisted? || eu.requested?
      buttons[:unattend] = 'Withdraw Request'
    elsif eu.attending?
      buttons[:unattend] = 'Cancel'
    end
  end

%>

<% if current_user.has_any_role?(:participant, :coordinator) || buttons.any? %>

  <div id="rsvp" class="highlight">
    <%= attend_str %>
    <% if buttons.any? %>
      <% buttons.each do |type, label| %>
        <%= button_to label, send("#{type}_event_path", @event), method: :patch %>
      <% end %>
      <% if buttons[:attend] && @event.participants_needed > 0 %>
        <span style="white-space:nowrap">&ndash; <%= pluralize @event.participants_needed, Configurable.participant %> still needed.</span>
      <% end %>
    <% end %>
  </div>

<% end %>