<% title 'Events by Month' %>

<% now = Time.zone.now %>
<% if params['month'].present? && !(params['month'].to_i == now.month && params['year'].to_i == now.year) %>
  <% content_for :header do %>
    <%= link_to "Back to #{now.strftime('%B, %Y')}", calendar_events_path %>
  <% end %>
<% end %>

<%= month_calendar @events do |event| %>
  <% if can? :show, event %>
    <%
      ops = { class: 'event' }
      coords = event.coords(current_user)
      ops[:data] = {lat: coords[0], lng: coords[1], popup: true} if coords
    %>
    <%= link_to event.display_name(current_user), event, ops %>
  <% end %>
<% end %>

<% if @events.find{|e| e.coords } %>
  <% content_for :js_ready do %>
    $('.month_calendar').append('<div id="map"></div>');
    show_map($('.month_calendar .event[data-lat]'));
  <% end %>
<% end %>