<% title 'Events by Month' %>

<% now = Time.zone.now %>
<% if params['month'].present? && !(params['month'].to_i == now.month && params['year'].to_i == now.year) %>
  <p><%= link_to "Back to #{now.strftime('%B, %Y')}", calendar_events_path %></p>
<% end %>

<%= month_calendar @events do |event| %>
  <% if can? :show, event %>
    <%
      ops = { class: 'event' }
      ops[:data] = {lat: event.lat, lng: event.lng, popup: true} if event.coords
    %>
    <%= link_to event.display_name, event, ops %>
  <% end %>
<% end %>

<% if @events.find{|e| e.coords } %>
  <% content_for :js_ready do %>
    $('.month_calendar').append('<div id="map"></div>');
    show_map($('.month_calendar .event[data-lat]'));
  <% end %>
<% end %>