<% if can? :create, Event %>
  <strong><%= link_to 'Add New Event', new_event_path %></strong>
<% end %>

<% if current_user.has_role? :participant %>
  <div>
    <h2>My Upcoming Events</h2>
    <%= render 'events', events: current_user.events.not_past %>
  </div>
<% end %>

<div id="upcoming">
  <h2>Other Upcoming Events</h2>
  <%= render 'events', events: Event.not_past.not_attended_by(current_user) %>
</div>

<div>
  <h2>Past Events</h2>
  <%= render 'events', events: Event.past %>
</div>