<h1>Events</h1>

<ol>
  <% @events.each do |event| %>
    <li>
      <%= link_to "#{event.start} &ndash; #{event.finish}".html_safe, event %>
    </li>
  <% end %>
</ol>

<%= link_to 'New Event', new_event_path %>