<strong><%= link_to 'Add New Event', new_event_path %></strong>

<div>
  <h2>My Upcoming Events</h2>
  <%= render 'events', events: current_user.events.not_past %>
</div>

<div id="upcoming">
  <h2>Other Upcoming Events</h2>
  <%= render 'events', events: Event.not_past.not_attended_by(current_user) %>
</div>

<div>
  <h2>Past Events</h2>
  <%= render 'events', events: Event.past %>
</div>