<% if @users.length == 1 %>
  <p>Hi <%= @user.fname %>,</p>
<% end %>

<p>This email confirms that you are attending <%= link_to @event.display_name(@user), event_url(@event) %>.<p>

<%= render 'event', event: @event, user: @user, force_show_address: true %>