<p>There have been changes to an event you are attending, <%= link_to @event.display_name(@user), event_url(@event) %>. Here are the updated details:<p>

<%= render 'event', event: @event, user: @user %>

<p>If you are unable to attend the event, please visit the <%= link_to 'event page', event_url(@event) %> to cancel.</p>