<p>
  Sorry, but you are no longer attending an event, <%= link_to @event.display_name(@user), event_url(@event) %>.
  <% if @event.start %>
    This was to take place on <%= date @event.start %> at <%= time @event.start %>.
  <% end %>
<p>

<% if @reason == 'max_changed' %>
  <p>This is because the maximum number of participants was lowered.</p>
<% end %>

<p>You can see all the events you are attending on <%= link_to 'your profile page', me_url %>.</p>