html, textarea, input, select, button {
  font-family: 'ITC Officina Sans Std Book', Helvetica, sans-serif;
}
body {
  font-size: 1.2em;
}

h1, h2 {
  margin: 0;
  font-size: 1.1em;
}
h2 {
  margin-top: 1.2em;
}
h3 {
  font-size: 1em;
}

a img {
  border: 0;
}

a {
  color: $link_colour;
  &:visited, &:active {
    color: $link_colour_visited;
  }
}

p {
  max-width: 35em;
  margin: 0.7em 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.cols .colA, .cols .colB {
  width: 46%;
  float: left;
}
.cols .colA {
  margin-right: 3%;
}
@media (max-width: $col_limit) {
  .cols .colA, .cols .colB {
    width: 100%;
    float: none;
  }
  .cols .colA {
    margin-right: 0;
  }
}
@media (max-width: $col_limit * 1.5) {
  .cols .cols .colA, .cols .cols .colB {
    width: 100%;
    float: none;
  }
  .cols .cols .colA {
    margin-right: 0;
  }
}
.cols > div > *:first-child, .cols > div > *:first-child, .cols > div > *:first-child {
  margin-top: 0;
}

ul, ol {
  margin: 0;
  padding-left: 1.3em;
}

small {
  font-style: italic;
  color: #685c53;
}

.loading {
  background: white image-url('loading.gif') right top no-repeat;
}

/* map stuff */
.map {
  height: 23em;
  border: 1px solid black;
}
#instruction {
  font-style: italic;
}
.map .me {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 5px;
}
.map .me .inner {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 2px 4px blue inset;
}
.leaflet-popup-content {
  font-size: 1.4em;
  a {
    color: $link_colour !important;
  }
}

.mapicon {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid black;
}