ol.events {
  list-style-type: disc;
}
ol.events li, .month_calendar .event {
  margin: 0.2em 0;
}
ol.events small, .leaflet-popup-content small, p small {
  font-style: italic;
  color: #ccc;
}
@media (max-width: 400px) {
  ol.events small {
    display: none; /* if we showed this on tiny screens, each event would wrap to a second line */
  }
}

#rsvp {
  margin-bottom: 1em;
  padding: 0.2em 0.5em;
  background-color: #FCFC6A;
  display: inline-block;
}

#notes {
  padding: 0.5em 0.5em 0 0.5em;
  border: 1px dashed #aaa;
}