ol.events {
  list-style-type: disc;
}
ol.events li, .month_calendar .event {
  margin: 0.2em 0;
}
@media (max-width: 400px) {
  ol.events small {
    display: none; /* if we showed this on tiny screens, each event would wrap to a second line */
  }
}

#rsvp { /* on events#show and #who */
  margin-bottom: 1em;
  padding: 0.2em 0.5em;
  background-color: #FCFC6A;
  display: inline-block;
}

#notes { /* on events#show */
  padding: 0.5em 0.5em 0 0.5em;
  border: 1px dashed #aaa;
}

body.events-index h2 button {
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-right: 0.4em;
}

#invite {
  margin-left: 2em;
}