form .field, form fieldset {
  margin: 1em 0;
}
input[type="text"], input[type="email"], input[type="tel"] {
  width: 12em;
}
textarea {
  width: 25em;
  height: 7em;
}
input, textarea, fieldset {
  max-width: 98%;
}

label, legend {
  font-weight: bold;
}
fieldset {
  border-radius: 10px;
}
@media (min-width: $col_limit) {
  .cols fieldset {
    border-width: 0;
  }
  .cols legend {
    display: none;
  }
}
@media (max-width: $col_limit) {
  .cols fieldset label {
    font-weight: normal;
  }
}

input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
}