input, textarea, select, button {
  font-size: 0.9em;
}

form.button_to, form.button_to div {
  display: inline;
}

fieldset, legend {
  padding: 0;
}
.field, .checkbox_field, fieldset {
  margin: 1em 0;
}
fieldset .field, fieldset .checkbox_field {
  margin: 0.2em 0;
}
textarea {
  width: 35em;
  height: 7em;
}
input, textarea, fieldset {
  max-width: 98%;
}
#address textarea {
  width: 20em;
  height: 4em;
}
input[type="number"] {
  width: 3em;
}

label, legend {
  font-weight: bold;
}
label.field {
  display: block;
}
.checkbox_field label, #header label, label.field {
  font-weight: normal;
}
fieldset {
  border-width: 0;
  border-radius: 10px;
  padding-left: 0;
}
fieldset label {
  font-weight: normal;
}
fieldset .field label, fieldset .checkbox_field label {
  font-weight: bold;
}

button, form[method='post'] button.default {
  vertical-align: middle;
  border-radius: 5px;
  background-color: white;
  padding: 0.2em 0.8em;
  border: 1px solid #aaa;
  cursor: pointer;
  color: black;
  &:hover, &:active, &:focus {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
  }
}

form[method='post'] button {
  color: white;
  background-color: #428bca;
  border-color: #357ebd;
  &:hover, &:active, &:focus {
    background-color: #3276b1;
    border-color: #285e8e;
  }
  &.danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    &:hover, &:active, &:focus {
      background-color: #d2322d;
      border-color: #ac2925;
    }
  }
}

#errors {
  margin: 1em 0;
}
div.field_with_errors, #errors h2 {
  display: inline;
  border-bottom: 2px solid red;
}
div.field_with_errors {
  padding-bottom: 4px;
}
#errors ul {
  margin-top: 0.3em;
}

.hint {
  font-style: italic;
  color: #685c53;
}
span.hint {
  padding-left: 0.2em;
}
legend span.hint {
  padding-left: 0.8em;
  font-weight: normal;
}

html.js form #coords {
  display: none;
}


fieldset.users label {
  display: block;
}
fieldset.users .user {
  margin-left: 1.6em;
  margin-top: -1em;
}
fieldset.users label:hover {
  background-color: $hover_background_colour;
  border-radius: 10px;
}