form .field, form fieldset {
  margin: 1em 0;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
  width: 12em;
}
input[type="text"].time {
  width: 4em;
}
textarea {
  width: 25em;
  height: 7em;
}
input, textarea, fieldset {
  max-width: 98%;
}

label, legend {
  font-weight: bold;
}
fieldset {
  border-width: 0;
  border-radius: 10px;
  padding-left: 0;
}
fieldset label {
  font-weight: normal;
}

input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
}

span.hint {
  font-style: italic;
  padding-left: 0.2em;
  color: #aaa;
}