html {
  font-family: Helvetica, sans-serif;
  background-color: white;
}
body {
  margin: 0;
  padding-bottom: 2em;
}
body, input, select {
  font-size: 1.1em;
}
a img {
  border: 0;
}

h1, h2 {
  margin: 0;
  font-size: 1.1em;
}
header {
  background-color: black;
  color: white;
  position: relative;
  padding: 0 0.3em;
  margin-bottom: 1em;
  h1, li, #account {
    padding: 0.3em 0;
  }
  a {
    color: white;
    padding-right: 0.4em;
    padding-left: 0.4em;
    text-decoration: none;
  }
  h1 {
    font-size: 1em;
    font-weight: normal;
    float: left;
  }
  ul {
    margin: 0 0 0 2em;
    list-style-type: none;
  }
  li {
    float: left;
    margin: 0 0.3em;
  }
  li a:hover, #account:hover {
    text-decoration: underline;
  }
  li.active {
    background-color: #6B6B6B;
  }
}
#account {
  position: absolute;
  top: 0;
  right: 0.3em;
}

#main, #flash {
  margin: 0.3em;
}
#flash {
  font-style: italic;
}
#main {
  h1, h2 {
    margin-bottom: 0.3em;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

h2 {
  margin-top: 0.6em;
}
dt {
  font-weight: bold;
}
ol {
  margin: 0;
}