html {
  background-color: white;
}
body {
  margin: 0;
  padding-bottom: 2em;
}

$header_padding: 0.3em;

header {
  background-color: black;
  color: white;
  position: relative;
  padding: 0 $header_padding; /* the top and bottom padding is added *within* the links */
  h1, li, #account {
    padding-top: $header_padding;
    padding-bottom: $header_padding;
  }
  a, a:visited, a:hover {
    color: white;
    padding-right: 0.4em;
    padding-left: 0.4em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    font-size: 1em;
    font-weight: normal;
    float: left;
  }
  ul {
    padding-left: 0;
    margin-left: 4em;
    list-style-type: none;
  }
  li {
    float: left;
    margin: 0 $header_padding;
  }
  li.active {
    background-color: #6B6B6B;
  }
}
#account {
  position: absolute;
  top: 0;
  right: $header_padding;
}
@media (max-width: 450px) {
  nav ul {
    padding-top: 1.8em;
    margin-left: 0;
  }
}

#flash, #header {
  border-bottom: 1px solid black;
  padding: $header_padding ($header_padding + 0.4em);
}

#flash {
  font-style: italic;
}

#header {
  background-color: #ddd;
  h1 + div {
    margin-top: $header_padding;
  }
  a {
    margin-right: 1em;
    white-space: nowrap;
  }
}

#main {
  margin: $header_padding;
  h2 {
    margin-bottom: 0.3em;
  }
}
@media (min-width: 500px) {
  #main {
    margin: 1em;
  }
}