html {
  font-family: Helvetica, sans-serif;
  background-color: white;
}
body {
  margin: 0;
  padding-bottom: 2em;
}
body, input, textarea, select {
  font-size: 1.1em;
}
a img {
  border: 0;
}
a {
  color: $link_colour;
}
a:visited, a:active {
  color: $link_colour_visited;
}
p {
  max-width: 35em;
}

h1, h2 {
  margin: 0;
  font-size: 1.1em;
}
header {
  background-color: black;
  color: white;
  position: relative;
  padding: 0 0.3em;
  margin-bottom: 1em;
  h1, li, #account {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  a, a:visited, a:hover {
    color: white;
    padding-right: 0.4em;
    padding-left: 0.4em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    font-size: 1em;
    font-weight: normal;
    float: left;
  }
  ul {
    padding-left: 0;
    margin-left: 4em;
    list-style-type: none;
  }
  li {
    float: left;
    margin: 0 0.3em;
  }
  li.active {
    background-color: #6B6B6B;
  }
}
#account {
  position: absolute;
  top: 0;
  right: 0.3em;
}
@media (max-width: 400px) {
  nav ul {
    padding-top: 1.8em;
    margin-left: 0;
  }
}


#main, #flash {
  margin: 0.3em;
}
@media (min-width: 500px) {
  #main, #flash {
    margin: 1em;
  }
}
#flash {
  font-style: italic;
}
#main {
  h1, h2 {
    margin-bottom: 0.3em;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.cols .colA, .cols .colB {
  width: 46%;
  float: left;
}
.cols .colA {
  margin-right: 3%;
}
@media (max-width: $col_limit) {
  .cols .colA, .cols .colB {
    width: 100%;
    float: none;
  }
  .cols .colA {
    margin-right: 0;
  }
}


h2 {
  margin-top: 1em;
}
dt {
  font-weight: bold;
}
ul, ol {
  margin: 0;
  padding-left: 1.3em;
}

form .field, form fieldset {
  margin: 1em 0;
}
input[type="text"], input[type="email"], input[type="tel"] {
  width: 12em;
}
textarea {
  width: 25em;
  height: 7em;
}
input, textarea, fieldset {
  max-width: 98%;
}
label, legend {
  font-weight: bold;
}


fieldset {
  border-radius: 10px;
}
@media (min-width: $col_limit) {
  .cols fieldset {
    border-width: 0;
  }
  .cols legend {
    display: none;
  }
}
@media (max-width: $col_limit) {
  .cols fieldset label {
    font-weight: normal;
  }
}


input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
}