ul.users {
  list-style-type: none;
  padding-left: 0;
}
ul.users li {
  margin: 0.8em 0;
}
ul.users, fieldset.users {
  max-width: 35em;
}

img.avatar {
  float: left;
  margin: 0 1em 1em 0;
}

.user {
  height: 48px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 55px;
  overflow: hidden;
}
.user p {
  margin: 0;
  padding: 0.2em 0;
}

#roles a {
  text-decoration: none;
  font-weight: bold;
}


.pagination span {
  margin-right: 0.3em;
}
.pagination .prev {
  margin-right: 1em;
}
.pagination .next {
  margin-left: 1em;
}