<%= yield %>

<%= paragraphs(Configurable.email_signature) if Configurable.email_signature.present? %>

<p>Visit <%= link_to 'your profile', me_url %> to change your email notifications by editing your city wards or to deactivate your account.</p>